body {
  background-color: #f0f0f0;
  font-family: 'Arial', sans-serif;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

form {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
  width: 400px;
  text-align: center;
}

h2 {
  text-align: center;
  color: #333;
}

label {
  display: block;
  margin: 10px 0 5px;
  color: #555;
}

input,
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  width: 80%;
  padding: 10px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 2px; /* Añadir margen inferior entre botones */

}

button:hover {
  background-color: #2980b9;
}

/* Optional: Add styles for form validation */
input:invalid,
select:invalid {
  border: 1px solid #e74c3c;
}

input:valid,
select:valid {
  border: 1px solid #2ecc71;
}

button.volver {
  width: 30%;
  padding: 5px;
  background-color: #e74c3c; /* Color diferente al de registrarse */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button.volver:hover {
  background-color: #c0392b; /* Cambio de color al pasar el mouse */
}

.mensaje {
  z-index: 0;
}
