<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro de Usuario</title>
</head>
<body>

<form>
  <h2>Registro de Usuario</h2>

  <label for="nombre">Nombre:</label>
  <input type="text" id="nombre" name="nombre" [(ngModel)]="nombre" required>

  <label for="cedula">Cédula:</label>
  <input type="text" id="cedula" name="cedula" [(ngModel)]="cedula" required>

  <label for="contrasenia">Contraseña:</label>
  <input type="password" id="contrasenia" name="contrasenia" [(ngModel)]="contrasenia" required>

  <label for="tipoUsuario">Tipo de Usuario:</label>
  <select id="tipoUsuario" name="tipoUsuario" [(ngModel)]="tipoUsuario" required>
    <option value="paciente">Paciente</option>
    <option value="medico">Médico</option>
  </select>

  <button type="submit" (click)="registrarUsuario()">Registrar Usuario</button>
  <button type="button" class="volver" (click)="backLogin()">Volver</button>

</form>

</body>
</html>
